:root{
    font-size: 11px;
}
header{
    height: max-content;
}
header .some-info{
    height: max-content;
    flex-direction: column;
}
header .some-info .social{
    width: 100%;
    height: max-content;
    margin: 2vh 0;
}
header .some-info .cont-info{
    width: 100%;
    height: max-content;
}
