*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo+Play&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap'); */

:root{
    font-size: 17px;
}
body{
    height: 85vh;
    background-color: #eee;
}
header{
    max-width: 100vw;
    height: 14vh;
    background-color: #eee;
}
header .some-info{
    width: 100%;
    height: 4vh;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #330785;
}
header .some-info .lan a{
    color: #a30f0f;
    font-size: 1.1rem;
    margin-right: .3vw;
    text-decoration: none;
    text-transform: capitalize;
}
header .some-info .social{
    width: 40%;
    height: 4vh;
    padding: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .some-info .social .fa-twitter{
    color: #2289d9;
}
header .some-info .social .fa-facebook{
    color: #1569f9;
}
header .some-info .social .fa-linkedin{
    color: #094faa;
}
header .some-info .social .fa-youtube{
    color: #a30f0f;
}
header .some-info .social .fa-instagram{
    color: #df1652;
}
header .some-info .cont-info{
    width: 30%;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -1%;
}
header .some-info .cont-info span a{
    color: #a30f0f;
    font-size: 1rem;
    margin: 0 .3vw;
    text-decoration: none;
    text-transform: capitalize;
}
header nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header nav .logo{
    width: 20%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav .logo img{
    width: 100%;
    height: max-content;
}
header nav .menu-bar{
    width: 75%;
    height: 10vh;
}
header nav .menu-bar ul{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav .menu-bar ul li{
    width: 18%;
}
header nav .menu-bar ul li a{
    font-size: 1.4rem;
    color: #330785;
    text-decoration: none;
    transition: color .5s linear;
    font-family: 'Lateef', serif;
    font-weight: 900;
}
header nav .menu-bar ul li a:hover{
    color: #df1652;
}
header nav .menu-bar ul li a i{
    margin-right: .3vw;
}
header nav .menu-bar ul li{
    position: relative;
}
header nav .menu-bar ul li .design-drop{
    display: none;
    width: 100%;
    height: max-content;
    position: absolute;
    left: 0;
    top: 100%;
    transition: all 1s linear;
}
header nav .menu-bar ul li:hover .design-drop{
    display: block;
}
header nav .menu-bar ul li .design-drop ul{
    width: 100%;
    height: max-content;
    display: block;
}
header nav .menu-bar ul li .design-drop ul li{
    width: 100%;

}
header nav .menu-bar ul li .design-drop ul li a{
    color: #df1652;
    font-size: 1.3rem;
}
header nav .menu-bar ul li .design-drop ul li a:hover{
    color: #330785;
}