*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 18px;
}
#particles-js{
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    z-index: -1;
}
header{
    width: 100vw;
    height: 14vh;
}
header .some-info{
    width: 100%;
    height: 4vh;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #330785;
}
header .some-info .lan a{
    color: #a30f0f;
    font-size: 1.1rem;
    margin-right: .3vw;
    text-decoration: none;
    text-transform: capitalize;
}
header .some-info .social{
    width: 40%;
    height: 4vh;
    padding: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .some-info .social .fa-twitter{
    color: #2289d9;
}
header .some-info .social .fa-facebook{
    color: #1569f9;
}
header .some-info .social .fa-linkedin{
    color: #094faa;
}
header .some-info .social .fa-youtube{
    color: #a30f0f;
}
header .some-info .social .fa-instagram{
    color: #df1652;
}
header .some-info .cont-info{
    width: 30%;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .some-info .cont-info span a{
    color: #a30f0f;
    font-size: .8rem;
    margin: 0 .3vw;
    text-decoration: none;
    text-transform: capitalize;
}
header nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .logo{
    width: 20%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav .logo img{
    width: 100%;
    height: max-content;
}
header nav .menu-bar{
    width: 75%;
    height: 10vh;
}
header nav .menu-bar ul{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav .menu-bar ul li{
    width: 18%;
}
header nav .menu-bar ul li a{
    font-size: 1.4rem;
    color: #330785;
    text-decoration: none;
    transition: color .5s linear;
    font-family: 'Lateef', serif;
    font-weight: 900;
}
header nav .menu-bar ul li a:hover{
    color: #df1652;
}
header nav .menu-bar ul li a i{
    margin-left: .3vw;
}
header nav .menu-bar ul li{
    position: relative;
}
header nav .menu-bar ul li .drop-menu{
    width: 100%;
    height: max-content;
    position: absolute;
    left: 0;
    top: 100%;
    transform: scale(0);
    transition: transform .7s linear;
    transform-origin: top right;
}
header nav .menu-bar ul li:hover .drop-menu{
    transform: scale(1);
}
header nav .menu-bar ul li .drop-menu ul{
    width: 100%;
    height: max-content;
    display: block;
}
header nav .menu-bar ul li .drop-menu ul li{
    width: 100%;

}
header nav .menu-bar ul li .drop-menu ul li a{
    color: #df1652;
    font-size: 1.2rem;
}
header nav .menu-bar ul li .drop-menu ul li a:hover{
    color: #330785;
}
header nav .menu-phone{
    display: none;
}
/* start main */
main{
    width: 100vw;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .market{
    width: 30%;
    height: 30%;
    margin: 0 auto;
    transition: transform .5s linear;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 2rem;
    box-shadow: 0 0 10px 1.5px #000;
    backdrop-filter: blur(2px);
    position: relative;
}
main .market .fa-xmark{
    width: 100%;
    position: absolute;
    top: 5vh;
    right: 1vw;
    font-size: 3rem;
    cursor: pointer;
    color: red;
}
main .market .fa-gear{
    font-size: 3rem;
    animation: turn 2s infinite linear;
    margin-left: 1vw;
}
main .market span{
    font-size: 2.5rem;
}
@keyframes turn {
    to{
        transform: rotate(1turn);
    }
}
/* media */
@media (min-width: 769px) and (max-width: 1024px) {
    :root{
        font-size: 14px;
    }
    header .some-info .cont-info{
        width: 40%;
    }
}
@media (min-width: 1025px) and (max-width: 1200px) {
    :root{
        font-size: 17px;
    }
    head .some-info .cont-info{
        width: 40%;
    }
}
@media (min-width: 1201px) and (max-width: 1799px){
    :root{
        font-size: 18px;
    }
}
@media (min-width: 1800px) and (max-width: 2000px) {
    :root{
        font-size: 24px;
    }
}
@media (min-width: 2001px) {
    :root{
        font-size: 29px;
    }
}